# TASK SETS

# SETS

#### Sets are used to store multiple items in a single variable.Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

In [2]:


my_set = {15,20,25,30,35,40,45,50}
print(my_set)

{35, 40, 45, 15, 50, 20, 25, 30}

In [5]:


my_set1 = ([10,20,30,40,50])
print(my_set1)

[10, 20, 30, 40, 50]

In [6]:


my_set2=()
my_set2

()

# FUNCTIONS OF SETS

#### Python provides various functions to work with Set. In this article, we will see a list of all the functions provided by Python to deal with Sets.

## Add()

#### Adds an element elem to the set. If the element already exists, the set remains unchanged.

In [7]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50}

In [8]:
my_set.add(55.60)

In [9]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50, 55.6}

## Clear()

#### It Removes all elements from the set, leaving it empty.

In [10]:
my_set1

[10, 20, 30, 40, 50]

In [11]:
my_set1.clear() #clear element

In [12]:
my_set1

[]

## Copy()

#### It Returns a shallow copy of the set.

In [13]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50, 55.6}

In [18]:
my_set.copy()

{15, 20, 25, 30, 35, 40, 45, 50, 55.6}

In [17]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50, 55.6}

## Difference()

#### It Returns a new set with elements that are in the set but not in the others.

In [44]:
set1 = {10,20,30}
set2 = {20,50,10}
diff_set = set1.difference(set2)

In [28]:
diff_set

{30}

In [29]:
diff_set1 = set2.difference(set1)

In [30]:
diff_set1

{50}

## Difference_update()

#### It Removes elements from the set that are also in the others.

In [31]:
set1

{10, 20, 30}

In [33]:
set2

{10, 20, 50}

In [34]:
set1.difference_update(set2)

In [36]:
set1

{30}

## Discard()

#### It Removes an element elem from the set if it is a member. If the element is not a member, do nothing.

In [37]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50, 55.6}

In [38]:
my_set.discard(55.6)

In [39]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50}

## Intersection()

#### It Returns a new set with elements common to the set and all others

In [45]:
set1

{10, 20, 30}

In [46]:
set2

{10, 20, 50}

In [47]:
set1.intersection(set2)

{10, 20}

In [48]:
set2.intersection(set1)

{10, 20}

## Intersection_update()

#### It Updates the set, keeping only elements found in it and all others.

In [49]:
set1

{10, 20, 30}

In [50]:
set2

{10, 20, 50}

In [52]:
set1.intersection_update(set2)

In [53]:
set1

{10, 20}

## Isdisjoint()

#### This methods Returns True if the set has no elements in common with other. If the set and other are disjoint, returns False otherwise.

In [54]:
set1

{10, 20}

In [55]:
set2

{10, 20, 50}

In [57]:
set1.isdisjoint(set2)

False

## Issubset()

#### It Returns True if all elements of the set are in other, False otherwise.

In [62]:
set1

{10, 20, 30}

In [63]:
set2

{10, 20, 50}

In [64]:
set1.issubset(set2)

False

## Issuperset()

#### This methods Returns True if all elements of other are in the set, False otherwise.

In [65]:
set1

{10, 20, 30}

In [66]:
set2

{10, 20, 50}

In [67]:
set1.issuperset(set2)

False

## Pop()

#### It Removes and returns an arbitrary element from the set. Raises KeyError if the set is empty.

In [68]:
my_set

{15, 20, 25, 30, 35, 40, 45, 50}

In [69]:
my_set.pop()

35

In [70]:
my_set

{15, 20, 25, 30, 40, 45, 50}

## Symmetric_difference()

#### It Returns a new set with elements in either the set or other but not in both.

In [71]:
set1

{10, 20, 30}

In [73]:
set2

{10, 20, 50}

In [74]:
set1.symmetric_difference(set2)

{30, 50}

## Symmetric_difference_update()

In [75]:
set1

{10, 20, 30}

In [76]:
set2

{10, 20, 50}

In [77]:
set1.symmetric_difference_update(set2)

In [79]:
set1

{30, 50}

## Union()

#### It Returns a new set with elements from the set and all others.

In [82]:
set1

{10, 20, 30}

In [83]:
set2

{10, 20, 50}

In [84]:
set1.union(set2)

{10, 20, 30, 50}

## Update()

#### This Methods Updates the set, adding elements from all others.

In [86]:
set1

{10, 20, 30}

In [87]:
set2

{10, 20, 50}

In [88]:
set1.update(set2)

In [89]:
set1

{10, 20, 30, 50}